
/* body {
    margin: auto;
    text-align: center;
} */

/* Tablet */
@media (min-width: 768px) {
    body {
        margin: auto;
        text-align: center;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    body {
        margin: auto;
        text-align: center;
    }
}