/* Desktop View */
@media (min-width: 768px) {
    main {
        /* display: flex; */
    }

}

/* Tablet View */
@media (min-width: 481px) {
    main {
        /* display: flex; */
    }

}
/* Mobile View */
@media (min-width:480px){
main {
    display: grid;
    margin:auto;
}

.a {
    width: 480px;
    height: 75px;
}

.b {
    width: 480px;
    height:150px;
}

.c, .d {
    width: 480px;
    height: 125px;
}

.four {
    display: flex;
    flex-wrap: wrap;
}
.e, .f, .g, .h {
    width: 240px;
    height: 250px;
    margin: 0;
}

.j {
    width: 480px;
    height: 80px;
}

}
